/* COLOURS */
/* background: #1a1b26 rgb(26, 27, 38) */
/* background float: #16161e rgb(22, 22, 30)*/
/* background light: #e1e2e7 rgb(225, 226, 231)*/
/* foreground: #c0caf5 rgb(192, 202, 245) */
/* arch: #1793D1 rgb(23, 147, 209) */

* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    min-height: 10px;
    transition: background-color 0.3s ease-out;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    transition: background-color 0.5s;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 8px 5px;
    /* margin: 5px 10px; */
    padding: 0px 5px;
    border-radius: 15px;
}

.modules-left {
    padding: 0px;
}

.modules-right {
    padding: 0px;
}

.modules-center {
    padding: 0px 10px;
}

tooltip {
    background: rgba(22, 22, 30, 0.95);
    /* background: #1a1b265; */
    /* opacity: 0.95; */
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    color: #c0caf5;
}

/* tooltip label { */
/*     color: white; */
/* } */

#clock,
#pulseaudio,
#bluetooth,
#custom-power,
#window,
#network,
#battery,
#tray,
#idle_inhibitor,
#backlight-slider,
#mpris,
#custom-updates,
#custom-arch,
#custom-notifications,
#backlight,
#power-profiles-daemon {
    padding: 0px 10px;
    /* background: rgba(6, 8, 28, 0.65); */
    background: rgba(26, 27, 38, 0.8);
    /* background-color: #1a1b26; */
    /* opacity: 0.65; */
    /* background: transparent; */
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    color: #c0caf5;
    border: none;
    border-radius: 15px;
}

#clock:hover,
#pulseaudio:hover,
#bluetooth:hover,
#custom-power:hover,
#window:hover,
#network:hover,
#battery:hover,
#tray:hover,
#idle_inhibitor:hover,
#backlight-slider:hover,
#mpris:hover, 
#custom-updates:hover,
#custom-arch:hover,
#custom-notifications:hover,
#backlight:hover,
#power-profiles-daemon:hover {
    /* background: rgba(6, 8, 28, 0.95); */
    background: rgba(22, 22, 30, 0.95);
    /* background-color: #1a1b26; */
    /* opacity: 0.95; */
    color: #cdd6f4;
}

#power-profiles-daemon {
    font-size: 18px;
    padding: 0px 11px 0px 6px;
}

#custom-power {
    font-size: 18px;
    padding: 0px 10px 0px 6px;
}

#custom-arch {
    font-size: 22px;
    color: white;
    padding: 0px 11px 0px 6px;
    /* padding: 0px 8px; */
    margin: 0px 1px;
    background: #1793D1;
}

#custom-arch:hover {
    background: rgba(23, 147, 209, 0.8);
    /* background-color: #1793d1; */
    /* opacity: 0.8; */
}

#workspaces button {
    /* background: transparent; */
    /* background: rgba(6, 8, 28, 0.65); */
    background: rgba(26, 27, 38, 0.8);
    /* background-color: #1a1b26; */
    /* opacity: 0.65; */
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    color: #c0caf5;
    border: none;
    border-radius: 15px;
    padding: 0px 8px;
    margin: 0px 1px;
}

#workspaces button.active {
    /* background: rgba(79, 0, 158, 0.5); */
    /* background: rgba(225, 226, 231, 0.8); */
    /* background: #13131d; */
    background: rgba(225, 226, 231, 0.8);
    /* background-color: #e1e2e7; */
    /* opacity: 0.8; */
    color: #16161e;
}

#workspaces button:hover {
    /* background: #11111b; */
    /* background: rgba(79, 0, 158, 0.95); */
    background: rgba(225, 226, 231, 0.5);
    color: #d5dcf5;
    /* background-color: #e1e2e7; */
    /* opacity: 0.5; */
    box-shadow: none;
}

#battery-power {
    background: rgba(0, 0, 0, 0);
}
