* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 10px;
    transition: background-color 0.3s ease-out;
}

window#waybar {
    background: rgba(32, 34, 48, 0);
    color: #24283b;
    transition: background-color 0.5s;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 8px 5px;
    /* margin: 5px 10px; */
    padding: 0px 5px;
    border-radius: 15px;
}

.modules-left {
    padding: 0px;
}

.modules-right {
    padding: 0px;
}

.modules-center {
    padding: 0px 10px;
}

tooltip {
    background: rgba(6, 8, 28, 0.95);
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    color: #c0caf5;
}

/* tooltip label { */
/*     color: white; */
/* } */

#clock,
#pulseaudio,
#bluetooth,
#custom-power,
#window,
#network,
#battery,
#tray,
#idle_inhibitor,
#backlight-slider,
#mpris,
#custom-updates,
#custom-arch,
#custom-notifications {
    padding: 0px 10px;
    background: rgba(6, 8, 28, 0.5);
    /* background: transparent; */
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    color: #c0caf5;
    border: none;
    border-radius: 15px;
}

#clock:hover,
#pulseaudio:hover,
#bluetooth:hover,
#custom-power:hover,
#window:hover,
#network:hover,
#battery:hover,
#tray:hover,
#idle_inhibitor:hover,
#backlight-slider:hover,
#mpris:hover, 
#custom-updates:hover,
#custom-arch:hover,
#custom-notifications:hover {
    background: rgba(6, 8, 28, 0.95);
    color: #cdd6f4;
}

#custom-power {
    font-size: 18px;
    padding: 0px 10px 0px 6px;
}

#custom-arch {
    font-size: 22px;
    color: white;
    padding: 0px 11px 0px 6px;
    background: #1793D1;
}

#custom-arch:hover {
    background: rgba(23, 147, 209, 0.8);
}

#workspaces button {
    /* background: transparent; */
    background: rgba(6, 8, 28, 0.5);
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    color: #d5dcf5;
    border: none;
    border-radius: 15px;
}

#workspaces button.active {
    background: rgba(79, 0, 158, 0.5);
    /* background: #13131d; */
}

#workspaces button:hover {
    background: #11111b;
    color: #d5dcf5;
    box-shadow: none;
}
