window {
    margin: 0px;
    /* border: 2px solid #414868; */
    border: 2px solid #16161e;
    border-radius: 5px;
    /* background-color: #24283b; */
    /* background-color: rgba(36, 40, 59, 0.4); */
    background-color: rgba(26, 27, 38, 0.4);
    font-family: "JetBrainsMono Nerd Font";
    font-size: 20px;
    font-weight: 600
}

#input {
    margin: 5px;
    /* border: 1px solid #24283b; */
    border: 1px solid #1a1b26;
    color: #c0caf5;
    /* background-color: #24283b; */
   /* background-color: rgba(36, 40, 59, 0.4); */
   background-color: rgba(26, 27, 38, 0.4);
}

#input image {
	color: #c0caf5;
}

#inner-box {
    margin: 5px;
    border: none;
    /* background-color: #24283b; */
    /* background-color: rgba(36, 40, 59, 0.4); */
    background-color: rgba(26, 27, 38, 0.4);
}

#outer-box {
    margin: 5px;
    border: none;
    /* background-color: #24283b; */
    /* background-color: rgba(36, 40, 59, 0.4); */
    background-color: rgba(26, 27, 38, 0.4);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #c0caf5;
} 

#entry:selected {
	/* background-color: #414868; */
    /* background-color: rgba(65, 72, 104, 0.5); */
    background-color: rgba(40, 52, 87, 0.5);
	font-weight: bold;
}

#text:selected {
	/* background-color: #414868; */
    /* background-color: rgba(65, 72, 104, 0.5); */
	font-weight: bold;
}
