* {
    font-family: "JetBrainsMono Nerd Font";
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background-color: rgba(32, 34, 48, 0.65);
    font-size: 22pt;
    color: #cdd6f4;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: rgba(6, 8, 28, 0.75);
    color: #c0caf5;
    animation: gradient_f 20s ease-in infinite;
    border-radius: 80px;
    /* Increased border radius for a more rounded look */
    border: 0px;
    margin: 20px;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    font-weight: 600;
}

button:focus {
    background-size: 22%;
	border: 0px;
    color: #c0caf5;
}

button:hover {
    background-color: rgba(4, 8, 28, 0.95);
	opacity: 0.8;
    color: #c0caf5;
    background-size: 25%;
    margin: 30px;
    border-radius: 80px;
    box-shadow: 0 0 50px rgba(12, 14, 36, 1);
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}

/* icons */
#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
