window#osd {
  border-radius: 10px;
  /* border: 2px solid @outline; */
  /* background: alpha(@surface_container_low, 0.4); */
  background: rgba(32, 34, 48, 0.5);
}

window#osd #container {
  margin: 6px;
  padding: 2px;
  background: transparent;
}

window#osd image {
  -gtk-icon-transform: scale(0.7);
}

window#osd image,
window#osd label {
  /* color: @primary; */
  color: #c0caf5;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  /* background: alpha(@primary_container, 0.5); */
  background: rgba(6, 8, 28, 0.5);
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  /* background: @primary; */
  background: #c0caf5;
}
